main > button.action {
  font: inherit;
  background: #000;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;

  padding: 16px;

  top: auto;
  bottom: 0;
  left: 50%;
  height: fit-content;
  width: 416px;

  .wrapper {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    align-items: center;

    img {
      width: 24px;
      height: 24px;
      margin-right: 16px;
      filter: invert(1);
    }

    p {
      color: #fff;
      text-align: center;
      font-weight: 500;
    }
  }

  display: block;

  transform: translate(-50%, 100%);
  transition: transform 0.16s;

  &.shown {
    transform: translate(-50%, -32px);
  }
}
