section.actions {
  top: auto;
  bottom: 0;

  display: block;

  & > .wrapper {
    background: linear-gradient(transparent, white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding-bottom: 32px;
    transition: transform 0.16s;
    transform: translateY(100%); // Hide buttons by default
  }

  &.shown > .wrapper {
    transform: translateY(0);
  }

  button {
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    font: inherit;
    padding: 16px;
    width: 416px;

    .wrapper {
      margin: 0 auto;
      width: fit-content;
      display: flex;
      align-items: center;
    }

    img {
      width: 24px;
      height: 24px;
      margin-right: 16px;
      filter: invert(1);
    }

    p {
      font-weight: 500;
    }
  }
}
