.runner > nav {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 128px;

  opacity: 0;
  transition: opacity 0.16s;
  pointer-events: none;

  &.shown {
    pointer-events: all;
    opacity: 1;
  }

  ul {
    margin: 0 auto;
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 416px;

    li {
      cursor: pointer;
      min-width: 64px;

      &.locked {
        opacity: 0.08;
        cursor: default;
      }

      &:last-child {
        margin-right: 0;
      }

      img {
        display: block;
        width: 32px;
        height: 32px;
        margin: 0 auto;
      }

      p {
        margin-top: 12px;
        text-align: center;
        font-weight: 500;
      }

      &.muted {
        opacity: 0.16;
      }
    }
  }
}
