.event-layer {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.editor-container {
  position: relative;
  margin: 40px 0;
}

.editor-menu {
  padding: 20px 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  background: rgb(243, 243, 243);
}

.editor-menu-element {
  position: relative;
  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 1px;
    background: black;
    transition: transform 0.1s ease-in-out;
    transform: scaleX(0);
  }

  &--selected {
    &::after {
      transform: scaleX(1);
    }
  }
}
