ul.list {
  padding: 48px 128px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  li {
    display: flex;
    align-items: center;
    gap: 32px;

    padding: 24px 48px;
    border: 1px solid #000;
    border-radius: 8px;
    cursor: pointer;

    &.best {
      background: #ffce38;
      border: none;
    }

    & > div {
      flex-grow: 1;
      max-width: 50%;
    }

    .main {
      .title {
        font-size: 1.1em;
        font-weight: 700;
      }

      .description {
        font-size: 0.9em;
        margin-top: 4px;
        line-height: 1.6em;
      }
    }

    .sidebar {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;

      .actions ul {
        display: flex;
        gap: 16px;

        li {
          padding: 0;
          border: none;
          cursor: pointer;

          span.vr {
            display: inline-block;
            height: 32px;
            width: 1px;
            background: black;
          }

          &:last-child {
            border: none;
          }
        }
      }
    }
  }
}
