section.multi-list {
  font-weight: 500;
  overflow-y: auto;
  padding: 128px;
  max-height: 100vh;

  h2 {
    font-size: 2.4em;
    font-weight: 800;
    margin: 0 0 96px 0;
    position: sticky;
    top: 0;
    z-index: 1;

    &::after {
      position: absolute;
      bottom: -80px;
      left: -48px;
      width: calc(100% + 96px);
      height: 300px;
      content: '';
      background: linear-gradient(0deg, transparent, #fff 64px, #fff);
      z-index: -1;
    }
  }

  .entry {
    display: flex;
    align-items: center;
    cursor: pointer;

    padding: 32px 0;
    border-bottom: 1px solid #000;

    &.locked {
      cursor: default;
    }

    &.highlighted {
      background: #000;
      color: #fff;
      border: none;
      border-radius: 8px;
      margin-bottom: 12px;
      width: calc(100% + 64px);
      padding: 32px;
      margin-left: -32px;

      img {
        filter: invert(1);
      }
    }

    &:last-child {
      border-bottom: none;
      margin-bottom: 96px;
    }

    .actions-wrapper {
      display: flex;
      align-items: center;
      gap: 24px;

      margin-right: 24px;

      img {
        height: 24px;
        width: 24px;
      }
    }

    .text-wrapper {
      display: flex;
      align-items: baseline;
      gap: 32px;

      .title {
        font-size: 1.16em;
        font-weight: 500;
      }

      .decription {
        font-size: 0.95em;
      }
    }
  }
}
