* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  overflow: hidden;
  font: 16px 'Montserrat', sans-serif;
}

main > * {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  &.shown {
    display: block;
  }

  .container {
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
  }
}

@import 'stats';
@import 'controls';
@import 'action_button';
@import 'list';
@import 'editor';
@import 'form_widget';
